*{
    margin: 0;
    padding: 0;
    font-size: .85rem;
}

/* DESKTOP SCREEN */


    .signup{
        color: white;
        font-size: medium;
    
    }
    .small-window-toggle {
        display: block;
    }
    .lg-home {
        width: 100vw;
        
    }
   
    .lg-logo {
        display: flex;
        flex-direction: column;   
    }
    .lg-img-logo {
        padding: 0.5%;
        height: 50%;
        display : flex;
        justify-content: space-between;
        align-items: center;
    }
    .lg-img-logo img{
        width: 70%;
    }
    .small-window {
        display: none;
    }
    .small-window-2 {
        display: block;
    }
    .font-s1{
        font-size: 90%;
    }
    .cm{
        width: 60%;
        height: 100%;
        padding:10% 5%;
    }
    .inter{
        width: 90%;
        height: 70%;
    }
    .lg-home-nav-items {
        display: flex;
        justify-content: space-around;
        
        font-size: large;

    }
    .lg-home-nav-item {
        font-size: 50%;
        
    }
    .lg-home-video-parent {
        height: fit-content;
    }
    .lg-home-video-1 {
        height: 100%;
    }
    .lg-home-overflow {
        z-index: 20;
        top: 20%;
        left : 3%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 2px;
        position: absolute;
    }
    .home-t1 {
        font-size: 130%;
        font-weight: 800;
        color: white;
    }
    .home-t2 {
        font-size:120%;
        padding: 1px 10px;
        
        font-weight: 600;
    }
    .home-g1 {
        display: flex;
        justify-content: space-between;
    }
    .home-t3,.home-t4 {
        padding: 0.2rem 3rem;

        font-size: 100%;
    }
    .lg-home-bottom {
        display: flex;
        width: 100vw;
        height: 20%;
    }
    .lg-bt-1 {
        padding: 1%;
        padding-left: 2%;
        width: 30%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .lg-bt-2 {
        width: 70%;
    }
    .lg-bt-t1{
        font-size: 70%;
        color: white;
        width: 100%;
    }
    .lg-hr {
        height: 4px;
        width: 50%;
    }
    .lg-cat {
        display: flex;
        width: 100%;
        gap: 2rem;
        padding: 10%;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .lg-card{
        width: 33.3%;
        position: relative;
    }
    .lg-card-top {
        text-align: center;
        overflow: hidden;
        padding-top: 1.5rem; 
        padding-bottom: 1.5rem;
    }
    .lg-card-t1 {
        font-size: 100%;
    }
    .lg-card-img-p {
        position: relative;
        align-items: center;
        display: flex;
        
        overflow: hidden;
    }
    .lg-card-img {
        width: 100%;
        display: flex;
        height: 50%;
    }
    .bs {
        position: absolute;
        height: 10rem;
        top: 30%;
        width: .75rem;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;

    }
    .lg-card-bt{
        border-width: 2px;
        box-sizing: border-box;
    }
    .lg-card-bt-bg {
        width: 100%;
        padding: 1.5rem;
        text-align: center;
    }
    .lg-c3 {
        height: 100vh;
    }
    .lg-c3-split {
        height: 50%;
    }
    .bx{
        height: 100%;
        display: flex;
    }
    .by{
        display: flex;
        left: 1rem;
        width: 100%;
        text-align: left;
        color: white;
        
        flex-direction: column;
        
    }
    .about-t1 {
        font-size: 260%;
    }
   
    .nav-op{
        font-size: 100%;
    }
    .about-t {
        width: 70%;
        font-size: 90%;
    }
    .about-t3 {
        font-size: 200%;
        font-weight: 900;
    }
    .bz {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;

    }
    .cb {

        height: 10%;
        width: 60%;
    }
    .ch{
        width: 100vw;
        position: relative;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    .parallax-video-lg {
        position: absolute;
        height: 50%;
        width: 100%;
        object-fit: cover;
        z-index: 0;  
    }
    .lg-parallax-h {
        height: 70%;
    }
    .cn{
        padding: 3%;
        text-align: center;
        font-weight: 700;
        border-top-left-radius: 0.5rem; 
        border-top-right-radius: 0.5rem;
        
    }
    
        .ch{
            width: 100vw;
            position: relative;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top:-8px ;
        }
        .hr-1{
            width: 100%;
            height: 5px;
        }
        .ck{
            height: 100%;
            display: flex;
            flex-direction: row;
            gap: 5%;
        }
        .cl{
            margin: auto;
            width: 50%;
        }
        .cl img{
            width: 100%;
            height: 50%;
        }
        .co{
            display: flex;
            border-bottom-right-radius: 0.5rem; 
            border-bottom-left-radius: 0.5rem; 
            color: white;
            flex-direction: column;
        }
        .lg-spec{
            display: flex;
            align-items: center;
            padding: 3%;
            gap: 1rem;
        }

        .cw{
            display: flex;
            height: 100vh;
            flex-direction: row;
            gap: 1rem;
        }
        .cx{
            height: 100%;
            flex-direction: column;
            display: flex;
            margin: auto;
            text-align: center;
            padding: 1.25rem 1rem 0 1rem;
            width: 50%;
        }
        .cy{
            font-size: 3.75rem; 
            line-height: 1;

        }
        .cz{
            font-size: 1.875rem;
            line-height: 2.25rem;
            color: white;
            margin-top: 1rem;
        }
        .da{
            color: white;
            width: 15rem;
            height: 10rem;
            margin: auto;
            justify-self: center;
            margin: 0 auto 0 auto;
        }
        .db{
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: .5rem;
            width: 50%;
        }
        .dc{
            display: flex;
            margin: auto;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
        }
        .dd{
            padding: 2%;
            border-radius: 0.5rem;
            width: 90%;
        }
        .de{
            padding: 1.5rem;
            border-radius: 0.5rem;
            width: 90%;
        }
        .df{
            padding: 2%;
            margin-top: 1rem;
            width: 90%;
        }
        .dg{
            width: 100%;
            height: .5rem;
        }
        .dh{
            display: flex;
            width: 100%;
        }
        .di{
            width: 60%;
            display: flex;
            gap: 1rem;
            flex-direction: column;
        }
        .dj{
            font-size: 0.875rem; 
            line-height: 1.25rem; 
        }
        .dk{
            width: 66.666667%;
            margin: 0 auto 0 auto;
            justify-self: end;
            display: flex;
            gap: .5rem;
            text-align: end;
            flex-direction: column;
        }
        .dl{
            display: flex;
            flex-direction: column;
        }
        .dm{
            display: flex;
            flex-direction: column;
        }
        .dn{
            display: flex;
            flex-wrap: wrap;
        }
        .dp{
            font-size: 0.875rem; /* 14px */
            line-height: 1.25rem; 
        }






/* SOMETHING ELSE  */
.ash {
    font-family: 'Akshar', sans-serif;
}
.darker {
    font-family: 'Darker Grotesque', sans-serif;
}
.aldrich {
    font-family: 'Aldrich', sans-serif;
}
.do {
    font-family: 'Do Hyeon', sans-serif;
}
.inter {
    font-family: 'Inter', sans-serif;   
}
nav {
    background-color: #0f0f0f;
}


.bg-green {
    background: #B8FF5E;
}
.text-color-1 {
    color : #B8FF5E;
}
.bg-black-con{
    background-color: #252525;
}
.bg-green-1 {
    background-color: #B8FF5D;
}
.bg-yellow {
    background-color: #FDEB71;
}
.bg-gray{
    background-color: #585858;
}
.bg-gray-1 {
    background-color:rgb(217,217, 217,0.13);

    
}
.bg-green-linear {
    background:linear-gradient(145deg,rgb(255, 247, 32,100),rgb(60, 213, 0,40));
    width: 100%;
    
}
.bg-spec-linear {
    background: linear-gradient(145deg,rgb(101, 101, 101,60),rgb(63, 78, 88,100));
}
#navdrop button{
    width:100%;
}
.qs-mark {
   font-size: 40px;
}
.form-border {
    border : 1px #7e7e7e solid;
}

.parallax-img{
    background: url('./imgs/pexels-vlad-che-an-2694317-1.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.home-card {
    background: linear-gradient(145deg,rgb(171, 171, 171,100),rgb(81, 81, 81,100));
    border-radius: 4rem 0 4rem 0;
}
.bg-home-card {
    background-color: #4E4E4E;
    height: 60%;
   
}
.home-card-title {
    background-color: #4E4E4E;
    border-radius: 4rem 0 4rem 0;
}
.home-card img{
    width: 120%;
    height: 120%;
}
.parallax-img2 {
    background: url('./imgs/professional-baseball-players-1.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.spec{
    background: url("./imgs/spec-bg.png");
    margin: auto;
    background-repeat: no-repeat;
    align-content: center;
    align-items: center;
    
}

.home-video {
    height: 60%;
    width: 100%;
    object-fit: cover;
}
.home-video-parent{
    height: fit-content;
}


.qs .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #252525;
    text-align: center;
    height: 170px;
}
.qs .one .got{
    font-size: 1.7rem;
    padding: 10px;
    color: #B8FF5D;
}
.qs .one .mid{
    color: white;
    font-size: 1.5rem;
}
.qs .one i{
    font-size: 5rem;
    padding: 20px;
    color: #B8FF5D;
}
.qs .two{
    width: 100%;
    background-color: rgb(150, 150, 150);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qs .two .inputs{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     

}
.qs .two .inputs input{
    width: 200px;
    display: flex;
    padding: 5px;
    background-color: #252525;
    border-color: rgb(196, 194, 194);
    border-radius: 10px;
    text-align: center;
}
.qs .two button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #B8FF5D;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lastcomponent{
    
    background-color: #252525;
    color: white;
    padding: 10px;
    
}

.lastcomponent .discription{
    font-size: .7rem;
    width: 100%;
}
.lastcomponent .quicklinks{
    font-size: .7rem;
    width: 50px;
}
.lastcomponent .split2{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.lastcomponent .location{
    font-size: .7rem;
    width: 60px;
}
.lastcomponent .timings{
    font-size: .7rem;
    width: 60px;
}
.lastcomponent .contactus{
    font-size: .7rem;
    width: 40px;
}
.lastcomponent b{
    font-size: .4rem;
    color: greenyellow;
}
#backimg{
    width: 30px;
     height: 30px; 
     position: fixed; 
     /* transform: translateX(280px);  */
     transform: translateY(100px);
     transform: translateX(280px); 
     opacity: .2;
     padding-top: 8px;
}
footer{
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
}
.cd{
    font-size: 150%;
    width: 70%;
}